body {
	font-family: "NFL Bold";
	background-color: #003368;
}

h3 { 
    padding: 10px;
    margin: 20px;
    border: 2px black solid;
    text-align: center;
}

@font-face {
font-family: "NFL";
src: url("css/fonts/NFL.eot");
src: 
url("css/fonts/NFL.woff") format("woff"),
url("css/fonts/NFL.otf") format("opentype"),
url("css/fonts/NFL.svg#filename") format("svg");
}

img {
	width: 100%;
	margin-top: 20px;
}

h1, h2 {
	text-align: center;
	color: #fff;
}

h3 {
	background-color: #fff;
}
#picture{
	background-image: url("../images/nfl.jpg");
}

.jumbotron {
	font-size: 100px;
	padding: 0px;
	background-color: #003368;
	color: white;
	text-align: center;
}

.btn {
	margin: 20px;
	width: 50%;
	background-color: #fff;
}

.btn:hover {
	background-color: #b2b2b2;
}



